@page "/DataTable/{id}"


@using DataAccessLibrary
@using DataAccessLibrary.Models
@using SA_Injury_Management_System.Models

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject IInjuryData _db


<h3 class="mb-3">Database record: @id</h3>

@if (injuryDataUID == null && lawiModel == null && noiModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="form-group">
    <!--Unique Identifiers-->
    <div class="mt-4">
        <h4>Unique Identifiers:</h4>
    </div>

    <SpecificRowViewComponent Item="injuryDataUID" Context="injuryDataUIDContext">
        <DivLabels>
            <div class="col-2">
                <h6 for="Name">Initials:</h6>
            </div>
            <div class="col-2 mr-2">
                <h6 for="Sex">Sex:</h6>
            </div>
        </DivLabels>
        <RowItemTemplate>
            <div class="col-2">
                <input id="Name" class="form-control" type="text" placeholder="@injuryDataUIDContext.Name" readonly>
            </div>
            <div class="col-2 mr-2">
                <input id="Name" class="form-control" type="text" placeholder="@injuryDataUIDContext.Sex" readonly>
            </div>
        </RowItemTemplate>
    </SpecificRowViewComponent>
    <SpecificRowViewComponent Item="injuryDataUID" Context="injuryDataUIDContext">
        <DivLabels>
            <div class="col-2">
                <h6 for="DOB">Date of Birth:</h6>
            </div>
            <div class="col-2">
                <h6 for="DOI">Date of Injury:</h6>
            </div>
        </DivLabels>
        <RowItemTemplate>
            <div class="col-2">
                <input id="Name" class="form-control" type="text" placeholder="@injuryDataUIDContext.DOB" readonly>
            </div>
            <div class="col-2">
                <input id="Name" class="form-control" type="text" placeholder="@injuryDataUIDContext.Date_of_Injury" readonly>
            </div>
        </RowItemTemplate>
    </SpecificRowViewComponent>

    <!--Location Associated With Injury-->
    <div class="mt-4">
        <h4>Location Associated With Injury:</h4>
    </div>

    <SpecificRowViewComponent Item="lawiModel" Context="lawiModelContext">
        <DivLabels>
            <div class="col-2">
                <h6 for="Name">Place Where InjuryOccured:</h6>
            </div>
            <div class="col-2 mr-2">
                <h6 for="Sex">Sport Or Recreational Activity:</h6>
            </div>
        </DivLabels>
        <RowItemTemplate>
            <div class="col-2">
                <input id="Name" class="form-control" type="text" placeholder="@lawiModelContext.PlaceWhereInjuryOccured" readonly>
            </div>
            <div class="col-2 mr-2">
                <input id="Name" class="form-control" type="text" placeholder="@lawiModelContext.SportOrRecreationalActivity" readonly>
            </div>
        </RowItemTemplate>
    </SpecificRowViewComponent>

    <!--Nature of Injury-->
    <div class="mt-4">
        <h4>Nature Of Injury:</h4>
    </div>

    <SpecificRowViewComponent Item="noiModel" Context="noiModelContext">
        <DivLabels>
            <div class="col-2">
                <h6 for="Name">Mechanism Of Injury:</h6>
            </div>
            <div class="col-2 mr-2">
                <h6 for="Sex">Nature Of Activity:</h6>
            </div>
        </DivLabels>
        <RowItemTemplate>
            <div class="col-2">
                <input id="Name" class="form-control" type="text" placeholder="@noiModelContext.MechanismOfInjury" readonly>
            </div>
            <div class="col-2 mr-2">
                <input id="Name" class="form-control" type="text" placeholder="@noiModelContext.NatureOfActivity" readonly>
            </div>
        </RowItemTemplate>
    </SpecificRowViewComponent>
    <SpecificRowViewComponent Item="noiModel" Context="noiModelContext">
        <DivLabels>
            <div class="col-2">
                <h6 for="DOB">Nature Of Injury:</h6>
            </div>
        </DivLabels>
        <RowItemTemplate>
            <div class="col-2">
                <input id="Name" class="form-control" type="text" placeholder="@noiModelContext.NatureOfInjury" readonly>
            </div>
        </RowItemTemplate>
    </SpecificRowViewComponent>

    @if (aiiCheck > 0)
    {
        <!--Additional Injury Information-->
        <div class="mt-4">
            <h4>Additional Injury Information:</h4>
        </div>

        <SpecificRowViewComponent Item="aiiModel" Context="aiiModelContext">
            <DivLabels>
                <div class="col-2">
                    <h6 for="Name">Severity Of Injury:</h6>
                </div>
                <div class="col-2 mr-2">
                    <h6 for="Sex">Type Of Injury:</h6>
                </div>
            </DivLabels>
            <RowItemTemplate>
                <div class="col-2">
                    <input id="Name" class="form-control" type="text" placeholder="@aiiModelContext.SeverityOfInjury" readonly>
                </div>
                <div class="col-2 mr-2">
                    <input id="Name" class="form-control" type="text" placeholder="@aiiModelContext.TypeOfInjury" readonly>
                </div>
            </RowItemTemplate>
        </SpecificRowViewComponent>

        <SpecificRowViewComponent Item="aiiModel" Context="aiiModelContext">
            <DivLabels>
                <div class="col-2">
                    <h6 for="DOB">Ground Surface:</h6>
                </div>
                <div class="col-2">
                    <h6 for="DOB">Time Of Injury:</h6>
                </div>
            </DivLabels>
            <RowItemTemplate>
                <div class="col-2">
                    <input id="Name" class="form-control" type="text" placeholder="@aiiModelContext.GroundSurface" readonly>
                </div>
                <div class="col-2">
                    <input id="Name" class="form-control" type="text" placeholder="@aiiModelContext.TimeOfInjury" readonly>
                </div>
            </RowItemTemplate>
        </SpecificRowViewComponent>

        <SpecificRowViewComponent Item="aiiModel" Context="aiiModelContext">
            <DivLabels>
                <div class="col-2">
                    <h5 for="Name">Data Entered By:</h5>
                </div>
            </DivLabels>
            <RowItemTemplate>
                <div class="col-2">
                    <input id="Name" class="form-control" type="text" placeholder="@aiiModelContext.DataEnteredBy" readonly>
                </div>
            </RowItemTemplate>
        </SpecificRowViewComponent>
    }

    <div class="mt-5">
        <button type="button" class="btn btn-outline-primary" @onclick="@backToDataTable">Back</button>
    </div>
</div>

        
}

@code {
    [Parameter]
    public String id { get; set; }

    public int aiiCheck = 0;

    List<UniqueIdentifiers_Model> injuryDataUID;
    UniqueIdentifiers_BModel injuryDataUIDContext = new UniqueIdentifiers_BModel();

    List<NatureOfInjury_Model> noiModel;
    NatureOfInjury_BModel noiModelContext = new NatureOfInjury_BModel();

    List<LocationAssociatedWithInjury_Model> lawiModel;
    LocationAssociatedWithInjury_BModel lawiModelContext;

    List<AdditionalInjuryInformation_Model> aiiModel;
    AdditionalInjuryInformation_BModel aiiModelContext = new AdditionalInjuryInformation_BModel();

    protected override async Task OnInitializedAsync()
    {
        injuryDataUID = await _db.GetUniqueIdentifiersRow(id);
        noiModel = await _db.GetNatureOfInjuryRow(id);
        lawiModel = await _db.GetLAWIRow(id);
        aiiModel = await _db.GetAIIRow(id);

        aiiCheck = aiiModel.Count;
    }

    protected void backToDataTable()
    {
        navigationManager.NavigateTo("/DataTable");
    }
}
